<nav>
    <div class="nav-container">
      <div class="logo">
        <h1><a href="index.html">Taniti</a></h1>
      </div>
  
      <!-- Main menu -->
      <div class="nav-links" id="main-menu">
        <div class="nav-item">
            <a href="index.html">Home</a>
        </div>

        <div class="nav-item">
            <a href="plan-your-trip.html">Plan Your Trip</a>
            <div class="dropdown">
                <div class="dropdown-column">
                    <a href="plan-your-trip.html#travel-tips">Travel Tips & Info</a>
                    <a href="plan-your-trip.html#essential-info">Essential Info</a>
                    <a href="plan-your-trip.html#itineraries">Itineraries</a>
                </div>
            </div>
        </div>

        <div class="nav-item">
            <a href="destinations.html">Destinations</a>
            <div class="dropdown">
                <div class="dropdown-column">
                    <a href="destinations.html#taniti-city">Taniti City</a>
                    <a href="destinations.html#merriton-landing">Merriton Landing</a>
                    <a href="destinations.html#beaches">Beaches</a>
                    <a href="destinations.html#volcano">Volcano</a>
                </div>
            </div>
        </div>

        <div class="nav-item">
            <a href="experiences.html">Experiences</a>
            <div class="dropdown">
                <div class="dropdown-column">
                    <a href="experiences.html#family">Family</a>
                    <a href="experiences.html#water-land-nature">Water, Land & Nature</a>
                    <a href="experiences.html#city-entertainment">City & Entertainment</a>
                </div>
            </div>
        </div>

        <div class="nav-item">
            <a href="eat-shop.html">Eat & Shop</a>
            <div class="dropdown">
                <div class="dropdown-column">
                    <a href="eat-shop.html#grocery-convenience">Grocery & Convenience</a>
                    <a href="eat-shop.html#shopping-guides">Shopping Guides</a>
                    <a href="eat-shop.html#restaurants">Restaurants</a>
                </div>
            </div>
        </div>

        <div class="nav-item">
            <a href="stay.html">Stay</a>
            <div class="dropdown">
                <div class="dropdown-column">
                    <a href="stay.html#resort">Resort</a>
                    <a href="stay.html#hotels">Hotels</a>
                    <a href="stay.html#hostels">Hostels</a>
                    <a href="stay.html#b-and-bs">B&Bs</a>
                </div>
            </div>
        </div>

        <div class="nav-item">
            <a href="transportation.html">Transportation</a>
            <div class="dropdown">
                <div class="dropdown-column">
                    <a href="transportation.html#cruise-to-island-process">Cruise to Island Process</a>
                    <a href="transportation.html#methods-of-transportation">Methods of Transportation</a>
                    <a href="transportation.html#planning-tools">Planning Tools</a>
                </div>
            </div>
        </div>

        <div class="nav-item">
            <a href="safety-support.html">Safety & Support</a>
            <div class="dropdown">
                <div class="dropdown-column">
                    <a href="safety-support.html#emergency-information">Emergency Information</a>
                    <a href="safety-support.html#medical-offices">Medical Offices</a>
                    <a href="safety-support.html#safety-tips">Safety Tips</a>
                </div>
            </div>
        </div>

        <div class="nav-item">
            <a href="community.html">Community</a>
            <div class="dropdown">
                <div class="dropdown-column">
                    <a href="community.html#culture">Culture</a>
                    <a href="community.html#testimonials">Testimonials</a>
                </div>
            </div>
        </div>

        <div class="search-glass">
            <input type="search" placeholder="Beaches... Volcano..." class="glass-input">
            <div class="search-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5">
                <circle cx="11" cy="11" r="8"/>
                <line x1="21" y1="21" x2="16.65" y2="16.65"/>
              </svg>
            </div>
          </div>

      </div>

    </div>
  </nav>
